@font-face {
  font-weight: 300;
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.eot");
  src: url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.otf") format("opentype"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.woff2") format("woff2");
}
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.otf") format("opentype"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.otf") format("opentype"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
}
/* line 5, ../sass/03_generic/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: inherit;
}

/* line 13, ../sass/03_generic/_reset.scss */
button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

/* line 21, ../sass/03_generic/_reset.scss */
input:focus {
  border: none;
  outline: none;
}

/* line 27, ../sass/03_generic/_reset.scss */
a {
  text-decoration: none;
}

/* line 3, ../sass/04_elements/_tags.scss */
body {
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-size: 16px;
}

/* line 8, ../sass/04_elements/_tags.scss */
h1 {
  font-size: 40px;
  line-height: 1.2;
  color: #FFFFFF;
  font-weight: 300;
}

/* line 2, ../sass/05_objects/_layout.scss */
.logo--collapsed .logo-svg__text {
  display: none;
}

/* line 6, ../sass/05_objects/_layout.scss */
.header-container--landing {
  max-width: 1370px;
  margin: auto;
  padding: 40px 29px;
}

/* line 11, ../sass/05_objects/_layout.scss */
.page-container--landing {
  max-width: 1370px;
  margin: auto;
  padding: 33px 55px;
}

/* line 18, ../sass/05_objects/_layout.scss */
.side-content-area {
  float: left;
  min-height: 1px;
  width: 70px;
}

/* line 23, ../sass/05_objects/_layout.scss */
.main-content-area {
  float: left;
  width: calc(100% - 2 * 70px);
}

/* line 28, ../sass/05_objects/_layout.scss */
.flexbox {
  display: flex;
}

/* line 34, ../sass/05_objects/_layout.scss */
.header-container {
  background-color: #3f4257;
}
/* line 36, ../sass/05_objects/_layout.scss */
.header-container .logo {
  padding: 18px 16px 15px 16px;
  display: block;
  background-color: #FE5E3A;
}
/* line 41, ../sass/05_objects/_layout.scss */
.header-container .logo-svg {
  width: 35px;
}

/* line 47, ../sass/05_objects/_layout.scss */
.page-container .main-content-area {
  background-color: #edf2f6;
  min-height: 100vh;
  border-left: 1px solid  #e6ecf5;
  border-right: 1px solid  #e6ecf5;
}

/* line 54, ../sass/05_objects/_layout.scss */
.page-title {
  width: 230px;
  float: left;
  padding: 29px 0 29px 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.055em;
}

/* line 65, ../sass/05_objects/_layout.scss */
.search-form-container {
  float: left;
  width: 450px;
  height: 70px;
}
/* line 69, ../sass/05_objects/_layout.scss */
.search-form-container .search-form-input-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  height: 100%;
  padding: 20px 17px 20px 25px;
}
/* line 74, ../sass/05_objects/_layout.scss */
.search-form-container .search-form-input {
  width: calc(100% - 30px);
  background-color: transparent;
  border: none;
  height: 100%;
  color: #ffffff;
}
/* line 80, ../sass/05_objects/_layout.scss */
.search-form-container .search-form-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 0.010em;
}

/* line 86, ../sass/05_objects/_layout.scss */
.quick-access-container {
  float: left;
  width: 358px;
  height: 70px;
  padding: 25px;
}
/* line 91, ../sass/05_objects/_layout.scss */
.quick-access-container .quick-access-link {
  color: #fff;
  float: left;
  height: 100%;
  margin: 0 0 0 21px;
  width: 123px;
  letter-spacing: 0.025em;
}
/* line 99, ../sass/05_objects/_layout.scss */
.quick-access-container .quick-access-icon {
  float: left;
  margin: 0 15px;
  position: relative;
}
/* line 104, ../sass/05_objects/_layout.scss */
.quick-access-container .indicator {
  background-color: #FE5E3A;
  min-width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  line-height: 20px;
  font-size: 12px;
}
/* line 118, ../sass/05_objects/_layout.scss */
.quick-access-container .quick-access-icon {
  cursor: pointer;
}
/* line 120, ../sass/05_objects/_layout.scss */
.quick-access-container .quick-access-icon svg {
  width: 20px;
  height: 20px;
}

/* line 126, ../sass/05_objects/_layout.scss */
.header-profile-info-container {
  float: left;
  width: 155px;
  padding-top: 16px;
}
/* line 130, ../sass/05_objects/_layout.scss */
.header-profile-info-container .header-profile-info-image {
  width: 35px;
  position: relative;
  float: left;
  margin-right: 10px;
}
/* line 135, ../sass/05_objects/_layout.scss */
.header-profile-info-container .header-profile-info-image img {
  width: 100%;
  border-radius: 35px;
}
/* line 140, ../sass/05_objects/_layout.scss */
.header-profile-info-container .status-availability {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #3f4257;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 150, ../sass/05_objects/_layout.scss */
.header-profile-info-container .available {
  background-color: #33e4cb;
}
/* line 153, ../sass/05_objects/_layout.scss */
.header-profile-info-container .busy {
  background-color: #fe4f60;
}
/* line 156, ../sass/05_objects/_layout.scss */
.header-profile-info-container .away {
  background-color: #fdd62f;
}
/* line 159, ../sass/05_objects/_layout.scss */
.header-profile-info-container .offline {
  background-color: #cadeed;
}
/* line 162, ../sass/05_objects/_layout.scss */
.header-profile-info-container .header-profile-name {
  color: #ffffff;
  font-size: 12px;
  margin-top: 5px;
}
/* line 167, ../sass/05_objects/_layout.scss */
.header-profile-info-container .header-profile-username {
  text-transform: uppercase;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.3);
}

/* line 174, ../sass/05_objects/_layout.scss */
.side-icons-wrapper {
  padding: 30px 27px;
}
/* line 176, ../sass/05_objects/_layout.scss */
.side-icons-wrapper .icon {
  display: block;
  cursor: pointer;
  margin-bottom: 35px;
}
/* line 181, ../sass/05_objects/_layout.scss */
.side-icons-wrapper .icon svg rect {
  fill: black;
}

/* line 187, ../sass/05_objects/_layout.scss */
.contacts-chat-wrapper {
  padding: 30px 17px;
}
/* line 189, ../sass/05_objects/_layout.scss */
.contacts-chat-wrapper .header-profile-info-image {
  width: 35px;
  position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 26px;
}
/* line 195, ../sass/05_objects/_layout.scss */
.contacts-chat-wrapper .header-profile-info-image img {
  width: 100%;
  border-radius: 35px;
}
/* line 200, ../sass/05_objects/_layout.scss */
.contacts-chat-wrapper .status-availability {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 210, ../sass/05_objects/_layout.scss */
.contacts-chat-wrapper .available {
  background-color: #33e4cb;
}
/* line 213, ../sass/05_objects/_layout.scss */
.contacts-chat-wrapper .busy {
  background-color: #fe4f60;
}
/* line 216, ../sass/05_objects/_layout.scss */
.contacts-chat-wrapper .away {
  background-color: #fdd62f;
}
/* line 219, ../sass/05_objects/_layout.scss */
.contacts-chat-wrapper .offline {
  background-color: #cadeed;
}

/* line 225, ../sass/05_objects/_layout.scss */
.profile-page-container {
  padding: 41px 31px;
}
/* line 230, ../sass/05_objects/_layout.scss */
.profile-page-container .profile-page-cover-image-wrapper {
  position: relative;
}

/* line 235, ../sass/05_objects/_layout.scss */
.profile-page-cover-image {
  width: 100%;
  height: 21.5vw;
  background-position: center;
  background-image: url(../img/cover-image.jpg);
  border-radius: 3px 3px 0 0;
  background-size: cover;
}

/* line 243, ../sass/05_objects/_layout.scss */
.profile-page-profile-image {
  width: 132px;
  height: 132px;
  border: 5px solid #fff;
  background-position: center;
  background-image: url(../img/profile-image.jpg);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  bottom: 0;
}

/* line 257, ../sass/05_objects/_layout.scss */
.profile-page-profile-actions {
  position: absolute;
  right: 40px;
  bottom: -21px;
  justify-content: space-between;
  display: flex;
  width: 193px;
}
/* line 264, ../sass/05_objects/_layout.scss */
.profile-page-profile-actions button {
  background-color: #ccc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/* line 271, ../sass/05_objects/_layout.scss */
.profile-page-profile-actions .button-status {
  background-color: #00b7ff;
}
/* line 274, ../sass/05_objects/_layout.scss */
.profile-page-profile-actions .button-chat {
  background-color: #916bdf;
}
/* line 277, ../sass/05_objects/_layout.scss */
.profile-page-profile-actions .button-settings {
  background-color: #ff5e3a;
}

/* line 281, ../sass/05_objects/_layout.scss */
.profile-page-tabs-header {
  background: #ffffff;
  min-height: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid  #e6ecf5;
  border-radius: 0 0 5px 5px;
  margin-bottom: 35px;
}

/* line 291, ../sass/05_objects/_layout.scss */
.profile-page-profile-image-wrapper {
  position: relative;
}

/* line 294, ../sass/05_objects/_layout.scss */
.profile-page-tabs-header span {
  align-self: center;
  color: #c7c9da;
  font-size: 13px;
}

/* line 299, ../sass/05_objects/_layout.scss */
.profile-page-tabs-header span.active {
  color: #505367;
  font-weight: 700;
}

/* line 304, ../sass/05_objects/_layout.scss */
.profile-page-profile-main-info {
  align-self: center;
  text-align: center;
}
/* line 307, ../sass/05_objects/_layout.scss */
.profile-page-profile-main-info p {
  color: #c7c9da;
}
/* line 310, ../sass/05_objects/_layout.scss */
.profile-page-profile-main-info h2 {
  font-size: 22px;
  color: #505367;
}

/* line 316, ../sass/05_objects/_layout.scss */
.timeline-side-content {
  float: left;
  width: 268px;
}

/* line 320, ../sass/05_objects/_layout.scss */
.timeline-main-content {
  margin: 0 35px;
  float: left;
  width: calc(100% - 2 * 35px - 2 * 268px);
}

/* line 326, ../sass/05_objects/_layout.scss */
.timeline-content-wrapper {
  background-color: #fff;
  border: 1px solid  #e6ecf5;
  margin-bottom: 35px;
}

/* line 331, ../sass/05_objects/_layout.scss */
.timeline-content-wrapper:last-child {
  margin-bottom: 0;
}

/* line 334, ../sass/05_objects/_layout.scss */
.timeline-content-header {
  border-bottom: 1px solid  #e6ecf5;
  padding: 25px 25px 21px 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #515366;
}

/* line 342, ../sass/05_objects/_layout.scss */
.timeline-content-body-wrapper {
  padding: 26px 26px 30px 26px;
}

/* line 346, ../sass/05_objects/_layout.scss */
.content-body-header {
  color: #515366;
  font-size: 13px;
  margin-bottom: 10px;
}

/* line 351, ../sass/05_objects/_layout.scss */
.content-body-description {
  color: #888da7;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 30px;
}

/* line 357, ../sass/05_objects/_layout.scss */
.content-badge {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

/* line 363, ../sass/05_objects/_layout.scss */
.badge-wrapper {
  flex: 0 0 25%;
  position: relative;
}
/* line 366, ../sass/05_objects/_layout.scss */
.badge-wrapper svg {
  display: block;
  margin: auto auto 15px auto;
  width: 38px;
  height: 37px;
}
/* line 372, ../sass/05_objects/_layout.scss */
.badge-wrapper .indicator {
  background-color: #07dcc0;
  min-width: 16px;
  height: 16px;
  color: #fff;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  line-height: 16px;
  font-size: 10px;
}

/* line 388, ../sass/05_objects/_layout.scss */
.content-photos {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

/* line 393, ../sass/05_objects/_layout.scss */
.content-photos-wrapper {
  flex: 0 0 33.333%;
}
/* line 395, ../sass/05_objects/_layout.scss */
.content-photos-wrapper img {
  width: calc(100% - 5px);
  border-radius: 5px;
}

/* line 401, ../sass/05_objects/_layout.scss */
.post-header {
  font-weight: 300;
  font-size: 23px;
  letter-spacing: tracking -17;
  line-height: 28px;
  color: #515365;
  margin-bottom: 15px;
}

/* line 409, ../sass/05_objects/_layout.scss */
.post-summary {
  color: #888ca5;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 15px;
}

/* line 415, ../sass/05_objects/_layout.scss */
.post-timestamp {
  font-size: 13px;
  line-height: 22px;
  color: #bcc0cd;
}

/* line 420, ../sass/05_objects/_layout.scss */
.posts-separator {
  border-top: 1px solid  #e6ecf5;
}

/* line 424, ../sass/05_objects/_layout.scss */
.content-friends-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

/* line 429, ../sass/05_objects/_layout.scss */
.content-friend {
  flex: 0 0 20%;
}
/* line 431, ../sass/05_objects/_layout.scss */
.content-friend img {
  width: calc(100% - 5px);
  border-radius: 50%;
}

/* line 437, ../sass/05_objects/_layout.scss */
.content-pages {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
/* line 441, ../sass/05_objects/_layout.scss */
.content-pages .pages-image {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
/* line 446, ../sass/05_objects/_layout.scss */
.content-pages .pages-text-wrapper {
  padding-left: 10px;
  width: calc(100% - 34px - 20px);
}
/* line 450, ../sass/05_objects/_layout.scss */
.content-pages .pages-header {
  color: #515365;
  letter-spacing: 0.005rem;
}
/* line 454, ../sass/05_objects/_layout.scss */
.content-pages .pages-location {
  color: #adb0c1;
  letter-spacing: 0.015rem;
}
/* line 458, ../sass/05_objects/_layout.scss */
.content-pages .pages-favorite-icon {
  width: 20px;
  height: 20px;
}
/* line 461, ../sass/05_objects/_layout.scss */
.content-pages .pages-favorite-icon svg {
  width: 100%;
}
/* line 463, ../sass/05_objects/_layout.scss */
.content-pages .pages-favorite-icon svg rect {
  fill: #000;
}

/* line 469, ../sass/05_objects/_layout.scss */
.poll-description {
  color: #898da8;
  margin-bottom: 25px;
  letter-spacing: 0.007rem;
  font-size: 13px;
  line-height: 21px;
}

/* line 476, ../sass/05_objects/_layout.scss */
.single-poll-option {
  margin-bottom: 22px;
}
/* line 478, ../sass/05_objects/_layout.scss */
.single-poll-option .progress-bar {
  margin-bottom: 12px;
  height: 6px;
  width: 100%;
  border-radius: 6px;
  background-color: #e6ecf5;
}
/* line 485, ../sass/05_objects/_layout.scss */
.single-poll-option .poll-option {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
/* line 490, ../sass/05_objects/_layout.scss */
.single-poll-option .bar {
  width: 0;
  border-radius: 6px;
  height: 100%;
  background-color: #FE5E3A;
}
/* line 496, ../sass/05_objects/_layout.scss */
.single-poll-option .friends-stats {
  color: #bdbfcf;
  margin-bottom: 12px;
}
/* line 500, ../sass/05_objects/_layout.scss */
.single-poll-option .voted-wrapper {
  position: relative;
  height: 40px;
}
/* line 504, ../sass/05_objects/_layout.scss */
.single-poll-option .friend-voted {
  display: block;
  border: 3px solid #ffffff;
  border-radius: 50%;
  width: 30px;
  position: absolute;
}
/* line 511, ../sass/05_objects/_layout.scss */
.single-poll-option .multiple-friend-voted {
  display: block;
  border: 3px solid #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 25px;
  color: #fff;
  position: absolute;
  background-color: #FE5E3A;
  font-size: 10px;
  text-align: center;
}
/* line 527, ../sass/05_objects/_layout.scss */
.single-poll-option [type="radio"]:checked,
.single-poll-option [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
/* line 532, ../sass/05_objects/_layout.scss */
.single-poll-option [type="radio"]:checked + label,
.single-poll-option [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
/* line 542, ../sass/05_objects/_layout.scss */
.single-poll-option [type="radio"]:checked + label:before,
.single-poll-option [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
/* line 554, ../sass/05_objects/_layout.scss */
.single-poll-option [type="radio"]:checked + label:after,
.single-poll-option [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #FE5E3A;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 567, ../sass/05_objects/_layout.scss */
.single-poll-option [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 572, ../sass/05_objects/_layout.scss */
.single-poll-option [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 581, ../sass/05_objects/_layout.scss */
.single-poll-option .friend-voted-0 {
  z-index: 0;
  left: 0px;
}
/* line 581, ../sass/05_objects/_layout.scss */
.single-poll-option .friend-voted-1 {
  z-index: 1;
  left: 20px;
}
/* line 581, ../sass/05_objects/_layout.scss */
.single-poll-option .friend-voted-2 {
  z-index: 2;
  left: 40px;
}
/* line 581, ../sass/05_objects/_layout.scss */
.single-poll-option .friend-voted-3 {
  z-index: 3;
  left: 60px;
}
/* line 581, ../sass/05_objects/_layout.scss */
.single-poll-option .friend-voted-4 {
  z-index: 4;
  left: 80px;
}
/* line 581, ../sass/05_objects/_layout.scss */
.single-poll-option .friend-voted-5 {
  z-index: 5;
  left: 100px;
}
/* line 581, ../sass/05_objects/_layout.scss */
.single-poll-option .friend-voted-6 {
  z-index: 6;
  left: 120px;
}
/* line 581, ../sass/05_objects/_layout.scss */
.single-poll-option .friend-voted-7 {
  z-index: 7;
  left: 140px;
}
/* line 581, ../sass/05_objects/_layout.scss */
.single-poll-option .friend-voted-8 {
  z-index: 8;
  left: 160px;
}
/* line 581, ../sass/05_objects/_layout.scss */
.single-poll-option .friend-voted-9 {
  z-index: 9;
  left: 180px;
}

/* line 588, ../sass/05_objects/_layout.scss */
.single-tweet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 593, ../sass/05_objects/_layout.scss */
.single-tweet .twitt-image-wrapper {
  flex: 0 0 20%;
}
/* line 595, ../sass/05_objects/_layout.scss */
.single-tweet .twitt-image-wrapper .twitt-image {
  filter: hue-rotate(327deg) brightness(1.31);
  border-radius: 5px;
  width: 100%;
  display: block;
}
/* line 604, ../sass/05_objects/_layout.scss */
.single-tweet .twitt-details {
  flex: 0 0 75%;
}
/* line 607, ../sass/05_objects/_layout.scss */
.single-tweet .twiiter-username {
  color: #868da7;
}
/* line 610, ../sass/05_objects/_layout.scss */
.single-tweet .twiit-description {
  flex: 0 0 100%;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 13px;
  line-height: 21px;
  color: #868da7;
}
/* line 618, ../sass/05_objects/_layout.scss */
.single-tweet .twiiter-hashtag {
  color: #37BFF1;
}
/* line 621, ../sass/05_objects/_layout.scss */
.single-tweet .twitt-timestamp {
  font-size: 13px;
  line-height: 22px;
  color: #bcc0cd;
}

/* line 629, ../sass/05_objects/_layout.scss */
.video-wrapper video {
  width: 100%;
}

/* line 634, ../sass/05_objects/_layout.scss */
.timeline-main-content-header {
  padding: 25px 25px 0 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 640, ../sass/05_objects/_layout.scss */
.post-profile-image {
  width: 40px;
}
/* line 642, ../sass/05_objects/_layout.scss */
.post-profile-image img {
  border-radius: 50%;
  width: 100%;
  display: block;
}

/* line 648, ../sass/05_objects/_layout.scss */
.post-profile-autor-info {
  padding-left: 12px;
}

/* line 651, ../sass/05_objects/_layout.scss */
.status-timestamp {
  font-size: 13px;
  line-height: 22px;
  color: #bcc0cd;
}

/* line 656, ../sass/05_objects/_layout.scss */
.post-profile-info {
  display: flex;
}

/* line 660, ../sass/05_objects/_layout.scss */
.timeline-main-content-body {
  padding: 0 25px 21px 26px;
}

/* line 667, ../sass/05_objects/_layout.scss */
.main-post-description {
  color: #888da7;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 30px;
  border-bottom: 1px solid  #e6ecf5;
  padding: 25px 0;
}

/* line 675, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 680, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .post-liken-wrapper {
  flex-basis: 10%;
  padding-top: 10px;
}
/* line 684, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .voted-wrapper {
  flex-basis: 70%;
  position: relative;
  height: 40px;
}
/* line 688, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .voted-wrapper .friend-voted {
  display: block;
  border: 3px solid #ffffff;
  border-radius: 50%;
  width: 30px;
  position: absolute;
}
/* line 696, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .voted-wrapper .friend-voted-0 {
  z-index: 0;
  left: 0px;
}
/* line 696, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .voted-wrapper .friend-voted-1 {
  z-index: 1;
  left: 20px;
}
/* line 696, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .voted-wrapper .friend-voted-2 {
  z-index: 2;
  left: 40px;
}
/* line 696, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .voted-wrapper .friend-voted-3 {
  z-index: 3;
  left: 60px;
}
/* line 696, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .voted-wrapper .friend-voted-4 {
  z-index: 4;
  left: 80px;
}
/* line 696, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .voted-wrapper .friend-voted-5 {
  z-index: 5;
  left: 100px;
}
/* line 696, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .voted-wrapper .friend-voted-6 {
  z-index: 6;
  left: 120px;
}
/* line 696, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .voted-wrapper .friend-voted-7 {
  z-index: 7;
  left: 140px;
}
/* line 696, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .voted-wrapper .friend-voted-8 {
  z-index: 8;
  left: 160px;
}
/* line 696, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .voted-wrapper .friend-voted-9 {
  z-index: 9;
  left: 180px;
}
/* line 702, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .who-voted-wrapper {
  margin-left: 125px;
}
/* line 704, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .who-voted-wrapper p {
  color: #888da7;
  font-size: 12px;
  line-height: 15px;
}
/* line 709, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .who-voted-wrapper b {
  color: #363740;
  font-size: inherit;
}
/* line 714, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .post-comments-wrapper {
  flex-basis: 10%;
}
/* line 717, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .post-share-wrapper {
  flex-basis: 10%;
}
/* line 721, ../sass/05_objects/_layout.scss */
.main-post-stats-wrapper .menu-icon rect {
  fill: #cccccc;
}

/* line 1, ../sass/05_objects/_buttons.scss */
.call-to-action__button--ghost {
  padding: 16px 0 15px;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 0.025em;
  width: 200px;
  cursor: pointer;
  font: 400 14px "Roboto";
  margin-left: 1px;
}
/* line 11, ../sass/05_objects/_buttons.scss */
.call-to-action__button--ghost:hover {
  background-color: #ffffff;
  color: #FE5E3A;
  transition: background-color 0.3s;
}

/* line 17, ../sass/05_objects/_buttons.scss */
.primary-btn {
  background-color: #FE5E3A;
  margin-bottom: 26px;
  height: 52px;
  border-radius: 3px;
  color: #fff;
  clear: both;
  width: 100%;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.025em;
  border: 2px solid #FE5E3A;
  transition: background-color 150ms ease-out;
}
/* line 30, ../sass/05_objects/_buttons.scss */
.primary-btn:hover {
  background-color: #fe3507;
  border: 2px solid #fe3507;
}

/* line 36, ../sass/05_objects/_buttons.scss */
.secondary-btn {
  padding: 7px 15px;
  width: 100%;
  display: block;
}
/* line 40, ../sass/05_objects/_buttons.scss */
.secondary-btn svg {
  width: 10px;
}

/* line 44, ../sass/05_objects/_buttons.scss */
.secondary-btn {
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

/* line 52, ../sass/05_objects/_buttons.scss */
.db-btn {
  background-color: #ED4989;
}
/* line 54, ../sass/05_objects/_buttons.scss */
.db-btn:hover {
  background-color: #e81b6b;
}

/* line 1, ../sass/05_objects/_icons.scss */
.icon {
  display: inline-block;
}

/* line 5, ../sass/05_objects/_icons.scss */
.header-simple__menu-icon {
  padding: 8px 0 5px 8px;
  float: right;
  cursor: pointer;
}

/* line 1, ../sass/05_objects/_texts.scss */
.call-to-action__heading {
  margin-bottom: 30px;
}

/* line 5, ../sass/05_objects/_texts.scss */
.call-to-action__paragraph {
  line-height: 1.75;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 14px;
  width: 86%;
  text-align: justify;
  letter-spacing: 0.010em;
  margin-bottom: 58px;
  margin-left: 1px;
}

/* line 3, ../sass/05_objects/_decorative-items.scss */
.body-container--graphic {
  background-image: url("../img/landing-bgd.png");
  background-position: 0 28px;
}

/* line 7, ../sass/05_objects/_decorative-items.scss */
.body-container--graphic::before {
  content: "";
  background: #FE5E3A;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.96;
  position: absolute;
  z-index: -1;
  filter: saturate(1.1);
}

/* line 1, ../sass/05_objects/_images.scss */
.logo {
  display: inline-block;
}

/* line 1, ../sass/06_components/_landing.scss */
.call-to-action {
  padding-right: 55px;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-height: 380px;
  flex-basis: 50%;
}

/* line 9, ../sass/06_components/_landing.scss */
.form--landing {
  min-height: 620px;
  margin-left: 16px;
  display: flex;
  flex-basis: 42%;
}

/* line 15, ../sass/06_components/_landing.scss */
.form--landing-navigation {
  width: 68px;
  background-color: #FFFFFF;
  float: left;
  height: 100%;
  border: 1px solid #E5ECF4;
  border-right-width: 0;
  border-radius: 0;
}

/* line 24, ../sass/06_components/_landing.scss */
.form--landing-navigation-content {
  background-color: #FFFFFF;
  width: calc(100% - 70px);
  height: 100%;
  float: left;
  border: 1px solid #E5ECF4;
  border-radius: 0 5px 5px  0;
}

/* line 32, ../sass/06_components/_landing.scss */
.form--landing-navigation-item {
  height: 50%;
  position: relative;
  background-color: #fafbfd;
  border-bottom: 1px solid #eee;
}
/* line 37, ../sass/06_components/_landing.scss */
.form--landing-navigation-item svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  cursor: pointer;
}
/* line 45, ../sass/06_components/_landing.scss */
.form--landing-navigation-item svg rect, .form--landing-navigation-item svg path {
  fill: #c0c4d8;
}

/* line 50, ../sass/06_components/_landing.scss */
.form--landing-header {
  border-bottom: 1px solid #E5ECF4;
  padding: 24px 25px 18px 25px;
  color: #525367;
  font-weight: 700;
}

/* line 58, ../sass/06_components/_landing.scss */
.form--landing-navigation-item.active {
  background: #fff;
}
/* line 61, ../sass/06_components/_landing.scss */
.form--landing-navigation-item.active svg rect, .form--landing-navigation-item.active svg path {
  fill: #FE5E3A;
}

/* line 67, ../sass/06_components/_landing.scss */
.form {
  padding: 36px 24px 30px 26px;
}

/* line 70, ../sass/06_components/_landing.scss */
.form-group {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid  #d8dbe6;
  height: 46px;
  border-radius: 3px;
  transition: height 150ms ease-out;
}

/* line 79, ../sass/06_components/_landing.scss */
.form-label {
  position: absolute;
  left: 18px;
  bottom: 14px;
  color: #5a5d70;
  z-index: 10;
  transition: transform 150ms ease-out, font 150ms ease-out;
}

/* line 88, ../sass/06_components/_landing.scss */
.form-input {
  position: relative;
  padding: 20px 0 0 18px;
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  color: #515467;
  transition: padding 150ms ease-out;
}

/* line 98, ../sass/06_components/_landing.scss */
.focused.form-group {
  height: 54px;
}
/* line 100, ../sass/06_components/_landing.scss */
.focused.form-group .form-label {
  bottom: 14px;
  transform: translateY(-125%);
  font-size: 10px;
  color: #bebecf;
  font-weight: 300;
  letter-spacing: 0.025em;
}
/* line 108, ../sass/06_components/_landing.scss */
.focused.form-group .form-input {
  padding: 14px 0 0 18px;
}

/*Checkboxes styles*/
/* line 116, ../sass/06_components/_landing.scss */
input[type="checkbox"] {
  display: none;
}

/* line 118, ../sass/06_components/_landing.scss */
input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 37px;
  color: #bebecf;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 13px;
  padding-top: 2px;
  font-weight: 300;
}
/* line 131, ../sass/06_components/_landing.scss */
input[type="checkbox"] + label:hover {
  color: #a1a1b9;
}

/* line 136, ../sass/06_components/_landing.scss */
input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

/* line 138, ../sass/06_components/_landing.scss */
input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid  #d8dbe6;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

/* line 153, ../sass/06_components/_landing.scss */
input[type="checkbox"]:checked + label:before {
  width: 8px;
  top: -4px;
  left: 4px;
  border-radius: 0;
  opacity: 1;
  border-bottom-color: #FE5E3A;
  border-right-color: #FE5E3A;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 166, ../sass/06_components/_landing.scss */
.boxes label {
  float: left;
}

/* line 169, ../sass/06_components/_landing.scss */
.forgot-password-link {
  float: right;
  text-align: right;
  text-decoration: none;
  margin-bottom: 37px;
  color: #bebecf;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 13px;
  padding-top: 2px;
  font-weight: 300;
}

/* line 185, ../sass/06_components/_landing.scss */
.vertical-separator {
  position: relative;
  border-top: 1px solid #d8dbe6;
  margin-bottom: 26px;
}
/* line 189, ../sass/06_components/_landing.scss */
.vertical-separator span {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  left: 0;
  right: 0;
  width: 77px;
  height: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #c6c9d2;
  font-size: 10px;
  line-height: 1;
}

/* line 207, ../sass/06_components/_landing.scss */
.fb-btn {
  background-color: #2f5b9d;
  border: none;
  margin-bottom: 12px;
  padding-right: 20px;
}
/* line 212, ../sass/06_components/_landing.scss */
.fb-btn:hover {
  border: none;
  background-color: #234476;
}
/* line 216, ../sass/06_components/_landing.scss */
.fb-btn svg {
  height: 15px;
  margin-right: 10px;
}

/* line 221, ../sass/06_components/_landing.scss */
.tw-btn {
  background-color: #38bff1;
  border: none;
  padding-right: 29px;
}
/* line 225, ../sass/06_components/_landing.scss */
.tw-btn:hover {
  border: none;
  background-color: #10ace6;
}
/* line 229, ../sass/06_components/_landing.scss */
.tw-btn svg {
  height: 11px;
  margin-right: 10px;
}

/* line 235, ../sass/06_components/_landing.scss */
.paragraf {
  color: #888ea8;
  line-height: 22px;
  font-size: 13px;
  font-weight: 300;
  text-align: justify;
}
/* line 242, ../sass/06_components/_landing.scss */
.paragraf a {
  font: inherit;
  color: #FE5E3A;
  text-decoration: none;
  font-weight: 400;
}
/* line 247, ../sass/06_components/_landing.scss */
.paragraf a:hover {
  color: #fe3507;
}

/* line 1, ../sass/07_utilities/_overwrites.scss */
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

/* line 6, ../sass/07_utilities/_overwrites.scss */
.hide {
  display: none !important;
}
