.call-to-action__button--ghost {
  padding: 16px 0 15px;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 0.025em;
  width: 200px;
  cursor: pointer;
  font: 400 14px "Roboto";
  margin-left: 1px;
  &:hover {
    background-color: #ffffff;
    color: $olympus-primary-color;
    transition: background-color 0.3s;
  }
}
.primary-btn {
  background-color: #FE5E3A;
  margin-bottom: 26px;
  height: 52px;
  border-radius: 3px;
  color: #fff;
  display: block;
  clear: both;
  width: 100%;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.025em;
  border: 2px solid #FE5E3A;
  transition: background-color 150ms ease-out;
  text-align: center;
  line-height: 50px;
  &:hover {
    $darker-color: darken($outrageous-orange, 10%);
    background-color: $darker-color;
    border: 2px solid  $darker-color;
  }
}
.secondary-btn {
  padding: 7px 15px;
  width: 100%;
  display: block;
  svg {
    width:10px;
  }
}
.secondary-btn {
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;

}

.db-btn {
  background-color: #ED4989;
  &:hover {
    background-color:darken(#ED4989, 10%);
  }
}
