
// This class styles the different background for the body on the landing page
.body-container--graphic {
  background-image: url("/assets/img/landing-bgd.png");
  background-position: 0 28px;
  min-height: 100vh;
}
.body-container--graphic::before {
  content: "";
  background: $olympus-primary-color;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.96;
  position: absolute;
  z-index: 0;
  filter: saturate(1.1);
}


