// This snippet contains color variables that will be used through the whole project.
// My advice is to declare variables here and not to hard code hex,rgba and similar variables later.
//
// First there will be the declaration of the colors and then the declaration of their use
// I'll be using a color naming service that was developed by Chirag Mehta http://chir.ag/projects/name-that-color


// Literal naming

$white: #FFFFFF;
$white-lilac: #FAFBFD;
$catskill-white: #E5ECF4;

$blue-haze: #BFC4D8;
$gray-suit: #BDBED0;

$picton-blue: #37BFF1; // TW brand color
$azure: #2F5B9C; //FB brand color
$trout: #515467;
$scarpa-flow: #525367;

$outrageous-orange: #FE5E3A;

// Role naming

$olympus-primary-color: $outrageous-orange;

$olympus-secondary-color: $white;