// Declaration of font face rules of the font families we're going to use.
// Our primary font family is Roboto

// Roboto Light
@font-face {
  font-weight: 300;
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.eot");
  src: url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto/Roboto-Light.otf") format("opentype"),
  url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"),
  url("../fonts/Roboto/Roboto-Light.woff") format("woff"),
  url("../fonts/Roboto/Roboto-Light.woff2") format("woff2");
}

// Roboto Regular
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto/Roboto-Regular.otf") format("opentype"),
       url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
       url("../fonts/Roboto/Roboto-Regular.woff") format("woff"),
       url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
}

// Roboto Bold
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto/Roboto-Bold.otf") format("opentype"),
  url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
  url("../fonts/Roboto/Roboto-Bold.woff") format("woff"),
  url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
}
