// This is a simple reset script
// I reset only what is needed and if something is making me a problem that was initialy set by the browser
// When that problem occurs just add more reset css here

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: inherit;
 }

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

input {
  &:focus {
    border: none;
    outline: none;
  }
}

a {
  text-decoration: none;
}