.logo--collapsed {
  .logo-svg__text {
    display: none;
  }
}
.header-container--landing {
  max-width: 1370px;
  margin: auto;
  padding: 40px 29px;
}
.page-container--landing {
  max-width: 1370px;
  margin: auto;
  padding: 33px 55px;
}


.side-content-area {
  float: left;
  min-height: 1px;
  width: $side-content-width;
}
.main-content-area {
  float: left;
  width: calc(100% - 2 * #{$side-content-width});
}

.flexbox{
  display: flex;
}

/// profile page

.header-container {
  background-color: #3f4257;
  .logo {
    padding: 18px 16px 15px 16px;
    display: block;
    background-color: $outrageous-orange;
  }
  .logo-svg {
    width: 35px;
  }
}

.page-container {
  .main-content-area {
    background-color: #edf2f6;
    min-height: 100vh;
    border-left: 1px solid  #e6ecf5;
    border-right: 1px solid  #e6ecf5;
  }
}
.page-title {
  width: 230px;
  float: left;
  padding: 29px 0 29px 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.055em;
}
.search-form-container {
  float: left;
  width: 450px;
  height: 70px;
  .search-form-input-wrapper {
    background-color: rgba(255, 255, 255, 0.1);
    height: 100%;
    padding: 20px 17px 20px 25px;
  }
  .search-form-input {
    width: calc(100% - 30px);
    background-color: transparent;
    border: none;
    height: 100%;
    color:#ffffff;
    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
      letter-spacing: 0.010em;
    }
  }
}
.quick-access-container {
  float: left;
  width: 358px;
  height: 70px;
  padding: 25px;
  .quick-access-link {
    color: #fff;
    float: left;
    height: 100%;
    margin: 0 0 0 21px;
    width: 123px;
    letter-spacing: 0.025em;
  }
  .quick-access-icon {
    float: left;
    margin: 0 15px;
    position: relative;
  }
  .indicator {
    background-color: $outrageous-orange;
    min-width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    line-height: 20px;
    font-size: 12px;
  }
  .quick-access-icon {
    cursor: pointer;
    svg {
      width:20px;
      height:20px;
    }
  }
}
.header-profile-info-container {
  float: left;
  width: 155px;
  padding-top: 16px;
  .header-profile-info-image {
    width: 35px;
    position: relative;
    float: left;
    margin-right: 10px;
    img {
      width:100%;
      border-radius: 35px;
    }
  }
  .status-availability {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #3f4257;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .available {
    background-color: #33e4cb;
  }
  .busy {
    background-color: #fe4f60;
  }
  .away {
    background-color: #fdd62f;
  }
  .offline {
    background-color: #cadeed;
  }
  .header-profile-name {
    color: #ffffff;
    font-size: 12px;
    margin-top: 5px;
  }
  .header-profile-username {
    text-transform: uppercase;
    font-size: 10px;
    color: rgba(255,255,255,0.3);
  }
}

.side-icons-wrapper {
  padding: 30px 27px;
  .icon {
    display: block;
    cursor:pointer;
    margin-bottom:35px;
    svg {
      rect {
        fill: black;
      }
    }
  }
}
.contacts-chat-wrapper {
  padding: 30px 17px;
  .header-profile-info-image {
    width: 35px;
    position: relative;
    float: left;
    margin-right: 10px;
    margin-bottom: 26px;
    img {
      width:100%;
      border-radius: 35px;
    }
  }
  .status-availability {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .available {
    background-color: #33e4cb;
  }
  .busy {
    background-color: #fe4f60;
  }
  .away {
    background-color: #fdd62f;
  }
  .offline {
    background-color: #cadeed;
  }
}


.profile-page-container {
  padding: 41px 31px;
  .profile-page-header {

  }
  .profile-page-cover-image-wrapper {
    position: relative;
  }

}
.profile-page-cover-image{
  width: 100%;
  height: 21.5vw;
  background-position: center;
  background-image: url(../img/cover-image.jpg);
  border-radius: 3px 3px 0 0;
  background-size: cover;
}
.profile-page-profile-image {
  width: 132px;
  height: 132px;
  border: 5px solid #fff;
  background-position: center;
  background-image: url(../img/profile-image.jpg);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  bottom: 0;
}

.profile-page-profile-actions {
  position: absolute;
  right: 40px;
  bottom: -21px;
  justify-content: space-between;
  display: flex;
  width: 193px;
  button {
    background-color: #ccc;
    border-radius: 50%;
    width:50px;
    height: 50px;
    cursor: pointer;
  }
  .button-status {
    background-color: #00b7ff;
  }
  .button-chat {
    background-color: #916bdf;
  }
  .button-settings {
    background-color: #ff5e3a;
  }
}
.profile-page-tabs-header {
  background: #ffffff;
  min-height:95px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid  #e6ecf5;
  border-radius: 0 0 5px 5px;
  margin-bottom: 35px;
}
.profile-page-profile-image-wrapper {
  position: relative;
}
.profile-page-tabs-header span {
  align-self: center;
  color: #c7c9da;
  font-size: 13px;
}
.profile-page-tabs-header span.active {
  color: #505367;
  font-weight: 700;
}

.profile-page-profile-main-info {
  align-self: center;
  text-align: center;
  p {
    color: #c7c9da;
  }
  h2 {
    font-size:22px;
    color: #505367;
  }
}

.timeline-side-content {
  float: left;
  width: 268px;
}
.timeline-main-content {
  margin: 0 35px;
  float: left;
  width: calc(100% - 2 * 35px - 2 * 268px);
}

.timeline-content-wrapper {
  background-color: #fff;
  border: 1px solid  #e6ecf5;
  margin-bottom: 35px;
}
.timeline-content-wrapper:last-child {
  margin-bottom: 0;
}
.timeline-content-header {
  border-bottom: 1px solid  #e6ecf5;
  padding: 25px 25px 21px 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:#515366;
}
.timeline-content-body-wrapper {
  padding: 26px 26px 30px 26px;
}

.content-body-header {
  color: #515366;
  font-size:13px;
  margin-bottom: 10px;
}
.content-body-description{
  color: #888da7;
  font-size:13px;
  line-height: 22px;
  margin-bottom: 30px;
}
.content-badge {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.badge-wrapper {
  flex: 0 0 25%;
  position: relative;
  svg {
    display:block;
    margin: auto auto 15px auto;
    width: 38px;
    height: 37px;
  }
  .indicator {
    background-color: #07dcc0;
    min-width: 16px;
    height: 16px;
    color: #fff;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    line-height: 16px;
    font-size: 10px;
  }
}

.content-photos {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.content-photos-wrapper {
  flex: 0 0 33.333%;
  img {
    width: calc(100% - 5px);
    border-radius: 5px;
  }
}

.post-header {
  font-weight: 300;
  font-size: 23px;
  letter-spacing: tracking (-17);
  line-height: 28px;
  color: #515365;
  margin-bottom: 15px;
}
.post-summary {
  color: #888ca5;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 15px;
}
.post-timestamp {
  font-size: 13px;
  line-height: 22px;
  color: #bcc0cd;
}
.posts-separator {
  border-top: 1px solid  #e6ecf5;
}

.content-friends-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.content-friend{
  flex: 0 0 20%;
  img {
    width: calc(100% - 5px);
    border-radius: 50%;
  }
}

.content-pages {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  .pages-image {
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }
  .pages-text-wrapper {
    padding-left: 10px;
    width: calc(100% - 34px - 20px);
  }
  .pages-header {
    color: #515365;
    letter-spacing: tracking(5);
  }
  .pages-location {
    color: #adb0c1;
    letter-spacing: tracking(15);
  }
  .pages-favorite-icon {
    width: 20px;
    height: 20px;
    svg {
      width:100%;
      rect {
        fill: #000;
      }
    }
  }
}
.poll-description {
  color: #898da8;
  margin-bottom: 25px;
  letter-spacing: tracking(7);
  font-size: 13px;
  line-height:21px;
}
.single-poll-option {
  margin-bottom: 22px;
  .progress-bar {
    margin-bottom: 12px;
    height: 6px;
    width: 100%;
    border-radius: 6px;
    background-color: #e6ecf5;
  }
  .poll-option {
    margin-bottom:12px;
    display: flex;
    justify-content: space-between;
  }
  .bar {
    width: 0;
    border-radius: 6px;
    height: 100%;
    background-color: $outrageous-orange;
  }
  .friends-stats {
    color: #bdbfcf;
    margin-bottom: 12px;
  }
  .voted-wrapper {
    position: relative;
    height:40px;
  }
  .friend-voted {
    display: block;
    border:3px solid #ffffff;
    border-radius: 50%;
    width: 30px;
    position: absolute;
  }
  .multiple-friend-voted {
    display: block;
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px;
    color: #fff;
    position: absolute;
    background-color: #FE5E3A;
    font-size: 10px;
    //font-weight:700;
    text-align: center;
  }

  //radio button
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $outrageous-orange;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }



  @for $i from 0 through 9 {
    .friend-voted-#{$i} {
      z-index: $i;
      left: 20px * $i;
    }
  }
}

.single-tweet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .twitt-image-wrapper {
    flex:0 0 20%;
    .twitt-image {
      filter: hue-rotate(327deg) brightness(1.31);
      border-radius: 5px;
      width:100%;
      display: block;
    }
  }


  .twitt-details {
    flex: 0 0 75%;
  }
  .twiiter-username {
    color: #868da7;
  }
  .twiit-description {
    flex:0 0 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 13px;
    line-height: 21px;
    color: #868da7;
  }
  .twiiter-hashtag {
    color: #37BFF1;
  }
  .twitt-timestamp {
    font-size: 13px;
    line-height: 22px;
    color: #bcc0cd;
  }
}

.video-wrapper {
  video {
    width: 100%;
  }
}

.timeline-main-content-header {
  padding: 25px 25px 0 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.post-profile-image {
  width:40px;
  img {
    border-radius: 50%;
    width: 100%;
    display: block;
  }
}
.post-profile-autor-info {
  padding-left: 12px;
}
.status-timestamp {
  font-size: 13px;
  line-height: 22px;
  color: #bcc0cd;
}
.post-profile-info {
  display: flex;
}

.timeline-main-content-body{
  padding: 0 25px 21px 26px;



}

.main-post-description {
  color: #888da7;
  font-size:13px;
  line-height: 22px;
  margin-bottom: 30px;
  border-bottom: 1px solid  #e6ecf5;
  padding: 25px 0;
}
.main-post-stats-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .post-liken-wrapper {
    flex-basis: 10%;
    padding-top: 10px;
  }
  .voted-wrapper {
    flex-basis: 70%;
    position: relative;
    height:40px;
    .friend-voted {
      display: block;
      border:3px solid #ffffff;
      border-radius: 50%;
      width: 30px;
      position: absolute;
    }
    @for $i from 0 through 9 {
      .friend-voted-#{$i} {
        z-index: $i;
        left: 20px * $i;
      }
    }
  }
  .who-voted-wrapper {
    margin-left: 125px;
    p {
      color: #888da7;
      font-size: 12px;
      line-height: 15px;
    }
    b {
      color: #363740;
      font-size: inherit;
    }
  }
  .post-comments-wrapper {
    flex-basis: 10%;
  }
  .post-share-wrapper {
    flex-basis: 10%;
  }
  .menu-icon {
    rect {
      fill: #cccccc;
    }
  }

}
