.call-to-action__heading {
  margin-bottom: 30px;
}

.call-to-action__paragraph {
  line-height: 1.75;
  color: $olympus-secondary-color;
  font-weight: 300;
  font-size: 14px;
  width: 86%;
  text-align: justify;
  letter-spacing: 0.010em;
  margin-bottom: 58px;
  margin-left: 1px;
}
