.call-to-action {
  padding-right: 55px;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-height: 380px;
  flex-basis: 50%;
}
.form--landing {
  min-height: 620px;
  margin-left: 16px;
  display: flex;
  flex-basis: 42%;
}
.form--landing-navigation {
  width: 68px;
  background-color: $olympus-secondary-color;
  float: left;
  height: 100%;
  border: 1px solid $catskill-white;
  border-right-width: 0;
  border-radius: 0;
}
.form--landing-navigation-content {
  background-color: $olympus-secondary-color;
  width: calc(100% - 70px);
  height: 100%;
  float: left;
  border: 1px solid $catskill-white;
  border-radius: 0 5px 5px  0;
}
.form--landing-navigation-item {
  height: 50%;
  position: relative;
  background-color: #fafbfd;
  border-bottom: 1px solid #eee;
  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    cursor:pointer;
    rect, path {
      fill: #c0c4d8;
    }
  }
}
.form--landing-header {
  border-bottom: 1px solid $catskill-white;
  padding: 24px 25px 18px 25px;
  color: $scarpa-flow;
  font-weight: 700;
}


.form--landing-navigation-item.active{
  background: #fff;
  svg {
    rect, path {
      fill: $outrageous-orange;

    }
  }
}
.form {
  padding: 36px 24px 30px 26px;
}
.form-group {
  position:relative;
  margin-bottom: 20px;
  border: 1px solid  #d8dbe6;
  height: 46px;
  border-radius: 3px;
  transition: height 150ms ease-out;
}

.form-label {
  position: absolute;
  left: 18px;
  bottom: 14px;
  color: #5a5d70;
  z-index: 10;
  transition: transform 150ms ease-out, font 150ms ease-out;
}

.form-input {
  position: relative;
  padding: 20px 0 0 18px;
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  color: #515467;
  transition: padding 150ms ease-out;
}
.focused.form-group {
    height:54px;
  .form-label {
    bottom: 14px;
    transform: translateY(-125%);
    font-size: 10px;
    color: #bebecf;
    font-weight: 300;
    letter-spacing: 0.025em;
  }
  .form-input {
    padding: 14px 0 0 18px;
  }
}



/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 37px;
  color: #bebecf;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 13px;
  padding-top: 2px;
  font-weight: 300;
  &:hover {
    color: darken(#bebecf, 10%);
  }
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid  #d8dbe6;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 8px;
  top: -4px;
  left: 4px;
  border-radius: 0;
  opacity: 1;
  border-bottom-color:$outrageous-orange;
  border-right-color:$outrageous-orange;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.boxes label{
  float: left;
}
.forgot-password-link {
  float: right;
  text-align: right;
  text-decoration: none;
  margin-bottom: 37px;
  color: #bebecf;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 13px;
  padding-top: 2px;
  font-weight: 300;
}


.vertical-separator {
  position: relative;
  border-top:1px solid #d8dbe6;
  margin-bottom: 26px;
  span {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    left: 0;
    right: 0;
    width: 77px;
    height: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #c6c9d2;
    font-size: 10px;
    line-height: 1;
  }
}

.fb-btn {
  background-color: #2f5b9d;
  border: none;
  margin-bottom: 12px;
  padding-right: 20px;
  &:hover {
    border: none;
    background-color: darken(#2f5b9d, 10%);
  }
  svg {
    height: 15px;
    margin-right: 10px;
  }
}
.tw-btn {
  background-color: #38bff1;
  border: none;
  padding-right: 29px;
  &:hover {
    border: none;
    background-color: darken(#38bff1, 10%);
  }
  svg {
    height: 11px;
    margin-right: 10px;
  }
}

.paragraf {
  color: #888ea8;
  line-height: 22px;
  font-size: 13px;
  font-weight: 300;
  text-align: justify;

  a {
    font:inherit;
    color: $outrageous-orange;
    text-decoration: none;
    font-weight:400;
    &:hover {
      color: darken($outrageous-orange, 10%);
    }
  }
}