// This snippet contains styling for the bare HTML tags

body {
  font-family: $default-font-family;
  font-size: $default-font-size;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  color: $olympus-secondary-color;
  font-weight: 300;
}